.home{
    margin-top: 2rem;
    min-height: 75vh;
    .container-jumbo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}