.details{
    margin: 5rem 0;
    .container-details{
        .top{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }

        .bot{
            .description{
                margin-bottom: 10px;
            }
        }
    }
}