.sign-in{
    margin-top: 2rem;
    min-height: 75vh;
    
    .jumbo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .container-form{
        max-width: 500px;
        .form-body{
            display: flex;
            flex-direction: column;
        }

    }
}